body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: white;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator {
    background-color: hsl(39, 100%, 50%);
}

.operator:hover {
    background-color: hsl(39, 100%, 60%);
}

.operator:active {
    background-color: hsl(39, 100%, 75%);
}

.change-bg {
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 10%);
    color: white;
    padding-top: 0%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-bg:hover {
    background-color: hsl(0, 0%, 20%);
}

.change-bg:active {
    background-color: hsl(0, 0%, 30%);
}
